h1,
h5 {
    font-family: suez one, sans-serif;
}

.row {
    padding-left: 30px;
    padding-right: 30px;

}

h1 {
    text-align: center;
    font-kerning: none;
}

.btn {
    background-color: orange;
    border-color: orange;
}

i {
    color: orange;
}